



.grid_load {
  position: relative;
  animation: grid_load forwards 0.8s;
  overflow: hidden;
}

@keyframes grid_float_up {
  0% { margin-top: 200vh; background-color: $light_blue; height: 200px;}
  70% { margin-top: -5vh; background-color: $light_blue;}
  80% { margin-top: 8px; height: 200px;}
  100% { margin-top: 0px; background-color: transparent; height: 321px;}
}

@keyframes grid_load {
  0% {
    border: 2px solid black;
    background-color: black;
    left: -200vh;
    // transform: scale(0.5,1); /*do it with scale transform instead*/ 
    height: 0;
    width: 0;
    padding: 10px;
  }
  40% {
    left: 30vh; 
    height: 0;
    width: 0;
  }
  60% {
    left: 0vh; 
    height: 0;
    width: 300px;
  }
  61% {
    border: black;
    background-color: black;
    height: 0;
  }
  80% {
    border: #b2eaf9;
    background-color: white;
    height: 0;
    padding: 10px 20px;
  }
  100% {
    border: 2px solid #b2eaf9;
    background-color: white;
    left: 0vh; 
    padding: 30px 20px 20px 20px;
    height: 200px;
    width: 300px;
  }
}


/* change like the form animaton */


.index_float_up {
  position: relative;
  animation: index_float_up forwards 0.6s;
}


@keyframes index_float_up {
  0% { margin-top: 200vh; background-color: $light_blue;}
  70% { margin-top: -5vh; background-color: $light_blue;}
  80% { margin-top: 8px;}
  // 90% { transform: scale(1.04,0.96); }
  100% { margin-top: 8px; background-color: transparent;}
}

.fade_in {
  animation: fade_in forwards 1s;
}

@keyframes fade_in {
  0% {opacity: 0;}
  70% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade_in_gradual {
  0% {opacity: 0;}
  100% {opacity: 1;}
}




.dot.display{
  // animation: float_up 1s forwards;
  top: 0;
}

@keyframes float_up {
  0% {top: 200vh;}
  100% {top: 0;}
}


@keyframes slide_in {
  0% {left: -200vh;}
  100% {left: 0;}
}

@keyframes slide_out {
  0% {left: 0;}
  100% {left: -200vh;}
}


@keyframes palette_load {
  0%{
    opacity: 0;
    transform: scale(0.5) translateX(-200vh);
  }
  100%{
    opacity: 1;
    transform: scale(1) translateX(0vh);
  }
}


@keyframes click{
  0%{transform: scale(1);}
  50%{transform: scale(1.2);}
  100%{transform: scale(1);}
}

@keyframes comment_form_load {
  0% {
    border: 2px solid black;
    background-color: black;
    left: -200vh;
    height: 0;
    width: 0;
    padding: 10px;
  }
  40% {
    left: 30vh; 
    height: 0;
    width: 0;
  }
  60% {
    left: 0vh; 
    height: 0;
    width: 300px;
  }
  61% {
    border: black;
    background-color: black;
    height: 0;
  }
  80% {
    border: #b2eaf9;
    background-color: white;
    height: 0;
    padding: 10px 20px;
  }
  100% {
    border: 2px solid #b2eaf9;
    background-color: white;
    left: 0vh; 
    padding: 30px 20px 20px 20px;
    height: 240px;
    width: 300px;
  }
}


@keyframes form_load {
  0% {
    border: 2px solid black;
    background-color: black;
    left: -200vh;
    // transform: scale(0.5,1); /*do it with scale transform instead*/ 
    height: 0;
    width: 0;
    padding: 10px;
  }
  40% {
    left: 30vh; 
    height: 0;
    width: 0;
  }
  60% {
    left: 0vh; 
    height: 0;
    width: 300px;
  }
  61% {
    border: black;
    background-color: black;
    height: 0;
  }
  80% {
    border: #b2eaf9;
    background-color: white;
    height: 0;
    padding: 10px 20px;
  }
  100% {
    border: 2px solid #b2eaf9;
    background-color: white;
    left: 0vh; 
    padding: 30px 20px 20px 20px;
    height: 200px;
    width: 300px;
  }
}


@keyframes sign_up_form_load {
  0% {
    border: 2px solid black;
    background-color: black;
    left: -200vh;
    // transform: scale(0.5,1); /*do it with scale transform instead*/ 
    height: 0;
    width: 0;
    padding: 10px;
  }
  40% {
    left: 30vh; 
    height: 0;
    width: 0;
  }
  60% {
    left: 0vh; 
    height: 0;
    width: 300px;
  }
  61% {
    border: black;
    background-color: black;
    height: 0;
  }
  80% {
    border: #b2eaf9;
    background-color: white;
    height: 0;
    padding: 10px 20px;
  }
  100% {
    border: 2px solid #b2eaf9;
    background-color: white;
    left: 0vh; 
    padding: 30px 20px 20px 20px;
    height: 480px;
    width: 300px;
  }
}

@keyframes form_accepted {
  0% {
    border: 2px solid #b2eaf9;
    background-color: white;
    left: 0vh; 
    padding: 30px 20px 20px 20px;
    height: 200px;
    width: 300px;
  }
  40% {
    border: solid #b2eaf9;
    background-color: white;
    height: 0;
    padding: 10px 20px;
  }
  60% {
    border: solid black;
    background-color: black;
    height: 0;
    width: 300px;
  }
  80% {
    height: 0;
    left: 0vh; 
    width: 0;
    opacity: 1;
  }
  100% {
    border: solid black;
    background-color: black;
    left: 50vh; 
    height: 0;
    width: 0;
    padding: 10px;
    opacity: 0;
  }
}


@keyframes shake {
  0% { margin-left: -10px;}
  50% { margin-left: 10px;}
  100% { margin-left: -10px;}
}


@keyframes bop {
  0% { bottom: 0px;}
  50% { bottom: 5px;}
  100% { bottom: 0px;}
}

@keyframes side_to_side {
  0% { right: 0px;}
  50% { right: 5px;}
  100% { right: 0px;}
}

@keyframes slide_right {
  0% { right: 0px;}
  100% { right: 5px;}
}

@keyframes slide_up {
  0% { bottom: 0px;}
  100% { bottom: 5px;}
}




/* button related */

@keyframes shiver_zero {
  0%{transform: translate(0);}
  50%{transform: translate(0, -2px);}
  100%{transform: translate(0);}
}

@keyframes shiver_one {
  0%{transform: translate(0);}
  50%{transform: translate(-5px, -5px);}
/*   40%{transform: translate(0, -5px);}
  90%{transform: translate(0);} */
  100%{transform: translate(0);}
}

@keyframes shiver_two {
  0%{transform: translate(0);}
  50%{transform: translate(5px, 5px);}
/*   60%{transform: translate(0, 5px);} */
  100%{transform: translate(0);}
}




@keyframes delete_art {
  0% {
    padding: 60px;
    overflow: auto;
    // margin-top: 0;
    margin: calc(45vh - 10px) auto auto auto;
  }
  20% {
    overflow: hidden;  
    width: 0;
    background-color: transparent;
  }
  40% {
    margin: calc(45vh - 10px) auto auto auto;
    height: 0;
    padding: 10px;
    background-color: black;
  }
  50% {
    margin: calc(60vh) auto auto auto;
  }
  100% {
    margin: -200vh 0 0 0;
    padding: 10px;
    width: 0;
    height: 0;
    overflow: hidden;
    // opacity: 0;
  }


}