

.artist_info_wrapper {
  // border: pink 1px solid;
  height: 100px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  padding: 20px;
  
  .profile_image {
    height: 80px;
    width: 80px;
    border: 1px solid $light_blue;


    img {
      height: 100%;
      width: 100%;
    }
  }

  .artist_name {
    // border: 1px solid red;
    padding: 0 5px;
    width: calc(100% - 80px);
    // width: 100px;
    // height: 100px;
  }
}

.artworks {
  // border: pink 1px solid;
  height: 100px;
  width: 100%;

}

.followers_following {
  // border: red 1px solid;
  font-size: 14px;
  span {
    color: $gray;
    margin: 0 20px;
    padding: 0 5px 0 2px;
    display: inline-block;
  }

  span:hover {
    color: $light_pink;
    cursor: pointer;
  }
}

.user_list {
  border:2px solid $light_blue;
  display: flex;
  width: calc(100% - 40px);
  max-width: 1000px;
  margin: 0 20px 20px 20px;
  align-items: center;

  .user_index {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0 5px 0 0;
    
    img {
      height: 80px;
      width: 80px;
      border: 1px solid $light_blue;
    }

    img:hover {
      position: relative;
      border-color: $light_pink;
      animation: bop infinite 0.5s;
      cursor: pointer;
    }

    div {
      text-align: center;
    }

    div:hover {
      color: $light_pink;
      cursor: pointer;
    }
  }

  .index {
    margin: 0 5px;
    width: 100px;
    height: 100px;
    padding: 0px;
    border: 0;
    img {
      height: 100%;
      width: auto;
    }
    img:hover {
      position: relative;
      animation: bop infinite 0.5s;
      cursor: pointer;
    }
  }

}