$main_font: 'Nunito', sans-serif;
// $main_font: lores-12, sans-serif;
$light_color: rgb(255, 255, 255);
$very_light_blue: #d7f6ff;
$light_blue: #b2eaf9;
$dark_blue: #32d0fc;
$clear_blue: rgba(53, 188, 250, 0.562);
$gray: rgb(123, 135, 146);
$light_pink: rgb(253, 116, 185);
$nav_height: 80px;


$bg:'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAACLUlEQVR4Xu3dsXICMQwEUFMwNPz/50FDRwkNUFxmSJFMwnGenJwT5lF7DOOVdrWy7lgNwzCUic/tdivr9XpqWVlq3fl8LtvtNu3vqz2X/X5fVgD5jWPtAUavA8hITkUfdO1+AAHI5wnURkztOhqSLLIAApAmmU5DkgUWQDICcr1eJ43hpONaeMHlcimbzWbhXzH/6w+HA2P46Bhrq7vodSgrI2VpnWidMIYjmYmyUJbWybNaTIbIEBkiQ76dQLRviN7vTlmc+nyHHbUDp05DaAgNeTUN0TrROtE60Tppo11Nyl6UhbJQFsp6Icri1KN89vx9OHVOvQ11mFxMFlkAAcj9BPiQkUCQITJEhjwrKmWIDJEhb5MhnPp8hx21A6eejHoNygFE68SQgyGH/38nCh+SjHsBAhDG8G2MoamTZFMnp9Pp5Z9Tj3LKS+9zPB49p/4IhOiLp9r9OPVkxQlAAKJ1onWidaJ18jMLiHoybQAIQNqIdW1kddVcdKe+tD//+n536smojTEESBut6UpDtN+Ttd8BApDw5ypQVjIxBAhADDm8zZADp86pE/WRGODUk2khQACideJO3Z26O3V36v4L9zET1l65Rq/TOklWnXQFCKfOqXPqnHob/xOthZx6Mi0ECEDaUEdXVZYhB0MOqixVVhuqVGWNRFZXGsKpc+o0hIbQkKc8EC2GXWkIH8KH0BAaQkNoyB+mXXR7dXvbUEdXVdZut/NGuTxmvXwA+Swn3ZsN9OIAAAAASUVORK5CYII=';

$blue_checkered_bg:'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAALElEQVQYV2M89fH3fwYGBgYzflZGEM0IE2D9xyIIFgAR59//F/jN9Oc9VgEAp9YUPNgR6OoAAAAASUVORK5CYII='; 

//? this one is slightly lighter
// $light_blue_checkered_bg:'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAASElEQVQYV2O8/O3/fwYGBoZ//xka9bkZG0BsRpjgfwaGDs7vDO1gwYtf/zcwMjKwM4F4UMAIom+//c/3k5Oh8j8DQwVYJTZBAI1kHLlIMYFYAAAAAElFTkSuQmCC';

$light_blue_checkered_bg:'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAALElEQVQYV2O8/O3/fwYGBgZdLkZGEM0IE/jzk0EQLAAizr//L8DCzvAeqwAAly4RYMSxwlgAAAAASUVORK5CYII=';

// $gray_checkered_bg:'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAALElEQVQYV2P89evXfwYGBgY2NjZGEM0IE2BlZRUEC4CI/\///C/z+/fs9VgEAtPAV7MHV8/MAAAAASUVORK5CYII='