@import 'variables';
@import 'animation';
@import 'form';
@import 'artist_profile';
@import 'pagination';

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: $main_font;
  background-color: rgb(255, 255, 255);
  // background: url($bg) repeat 0 0;
  // animation: bg_scrolling 4s infinite linear; 
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.logo_grid {
  margin: -30px 0 0 0;
  height: 256px;
  width: 256px;
  display: flex;
  flex-wrap: wrap;
  div {
    height: 16px;
    width: 16px;
    position: relative;
    transition: 0.8s;
    // background-color: yellow;
  }

  .b000000, .bffffff {
    opacity: 0;
  }

  .b000000.show_black, .bffffff.show_black {
    opacity: 1;
  }
}

.logo {
  height: 34px;
  width: auto;
}

.logo:hover{
  position: relative;
  animation: bop infinite 0.5s;
  cursor: pointer;
}

.slogan_container {
  // border: 1px solid red;
  width: 256px;
  height: 256px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -256px 0 0 0;
  z-index: -20;
  opacity: 1;
}

.slogan_container.hide {
  opacity: 0;
  animation: fade_out_gradual forwards ease 1s;
}


.loading_wrapper {
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    animation: fade_in 1s forwards;
    

  .blue_box {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: $light_blue;
    animation: shift_a infinite ease 0.8s;
  }

  .gray_box {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: $very_light_blue;
    animation: shift_b infinite ease 0.8s;
  }
}

@keyframes shift_a {
  0% {left: 0;}
  50% {left: 60px;}
  100% {left: 0; z-index:1;}
}

@keyframes shift_b {
  0% {right: 0;}
  50% {right: 60px;}
  100% {right: 0;}
}




.feed_title {
  color: $gray;
  text-align: left;
  width: 100%;
  max-width: 1000px;
  padding: 20px 20px 0 20px;
}



p.blue {
  color: $dark_blue;
}



a {
  color: black;
  text-decoration: none;
}

.twenty_px_bottom_margin {
  margin-bottom: 20px;
}

.thirty_px_bottom_margin {
  margin-bottom: 30px;
}

.forty_px_bottom_margin {
  margin-bottom: 40px;
}


.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.display_none {
  display:none;
}

// a:hover {
//   border: $light_pink solid;
//   border-width: 0 0 1px 0;
// }


.tool_box {
  height: 50px;
  width: 320px;
  // border: 1px solid pink;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    margin: 0 10px;
    height: 34px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .palette_icon {
    margin: 0 10px;
    height: 34px;
    width: 34px;
  }

  .palette_icon:hover {
    position: relative;
    animation: infinite bop 0.5s;
  }

  /* color input */
.color {
  height: 42px; 
  width: 39px;
  padding: 0;
  background-color: transparent;
  border: 0;
}

.color:hover {
  position: relative;
  animation: infinite bop 0.5s;
}

.back {
  position: relative;
  height: 34px; 
  width: 34px;
  padding: 0;
  color: white;
  background-color: black;
  margin: 0 auto 0 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 100%;
    width: auto;
  }
}
.back:hover {
  animation: bop 0.5s infinite;
}
}



.palette_choice_menu {
  background-color: $clear_blue;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0;
  transition: 0.5s;
  overflow-y: scroll;
  z-index: 20;

  display: flex;
  // flex-direction: column;
  // align-items: flex-start;
  
}

.palette_wrapper {
  width: 370px;
  // border: red 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;

  img {
    height: 40px;
    width: auto;
    // margin: 0 10px 0 0;
    cursor: pointer;
  }

  img:hover {
    position: relative;
    animation: bop infinite 0.5s;
  }
}

.palette_option {
  width: 320px;
  height: 40px;
  border: 0px transparent solid;
  // position: relative;
  display: flex;
  margin: 10px 0;
  background: url($blue_checkered_bg) repeat 0 0;
  
  div {
    padding: calc(1 / 16 * 100%);
    width: calc(100% / 8);
    cursor: pointer;
    border: 0px transparent;
    
  }

  div:hover {
    position: relative;
    // animation: slide_up forwards 0.5s;
    animation: bop infinite 0.5s;
  }
}

.favorited_palettes {

  margin: 10px 0 0 20px;

  .palette_option:hover{
    position: relative;
    animation: bop infinite 0.5s;
    cursor: pointer;
  }

  div:hover {
    animation: none;
  }

}



.palette_choice_menu.open {
  height: 50vh;
  padding: 10px;
}



nav {
  // border: 1px solid blue;
  height: $nav_height;
  display: flex;
  align-items: center;
  padding: 30px;
}

.link_menu {
  // border: red 1px solid;

  // width: 200px;
  margin: 0 0 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  button.nav {
    margin: 0 0 0 15px;
  }

  img {
    height: 40px;
    width: auto;
    border: 1px solid $light_blue;
    background-color: white;
  }
}

.category_label {
  // position: fixed;
  // border: red solid 1px;
  // bottom: 51px;
  // right: 30px;
  height: 34px;
  display: flex;
  align-items: center;
  color: $light_blue;
  font-size: 17px;
  width: 100%;
  padding: 0 22px;
}

.index_wrapper {
  // border: 1px solid red;
  padding: 10px 10px 10px 10px;
  height: 100%;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.feed_wrapper {
  padding: 10px 0 20px 0;
  height: auto;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  .index.small {
    width: calc(100% / 6 - 44px);
    margin: 22px;
    padding: 8px;
  }

}


.index {
  border: 2px solid $light_blue;
  padding: 15px;
  width: calc(25% - 44px);
  margin: 22px;
  // height: 200px;
  
  .index_palette {
    margin: 10px 0 0 0;
    width: 100%;
    display: flex;

    div {
      // height: 30px;
      padding: calc(1 / 16 * 100%);
      width: calc(100% / 8);
    }
  }


  img {
    width: 100%;
    height: auto;
    // background-color: white;
  }

  // img:hover {
  //   position: relative;
  //   animation: bop infinite 0.5s;
  // }
  
}

.wrapper {
  height: calc(100vh - 80px);

  // height: 5000px;
  width: 100%;
  // border: 1px solid hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper.overflow_hidden{
  height: 100vh;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index:-1;
  // border: red 1px solid;
}

.wrapper.no_height {
  height: auto;
  padding: 60px;
}

.wrapper.non_center {
  padding: 40px 0 0 0;
  justify-content: flex-start;
  height: auto;
  // border: red solid 1px;
}

.wrapper.non_center.delete {
  animation: delete_art forwards ease 1s;
}

.pic_show_user_menu {
  // border: 1px solid red;
  text-align: right;
  margin: 10px 0 0 0;

  // span {
  //   font-size: 12px;
  // }
  // span:hover {
  //   cursor: pointer;
  //   color: $light_pink;
  // }
}

.delete_menu {
  font-size: 14px;
  color: $light_pink;
  padding: 10px 0;
}

.wrapper.artist_profile {
  justify-content: flex-start;
}

.pic_info {
  // border: 1px solid pink;
  width: 320px;
  padding: 10px;

  .title {
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      font-size: 14px;
      color: $gray;
    }
  }

  .description {
    font-size: 13px;
    padding: 0px 0 0 0;
  }

  .categories {
    font-size: 14px;
    color: $dark_blue;
    padding: 5px 0 0 0;

    span:hover {
      color: $light_pink;
    }
  }
}

.interaction_menu {
  // border: pink solid 1px;
  padding: 0px 5px;
  width: 320px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.artist_icon {
  border: 1px solid $light_blue;
  margin: 0 auto 0 0;
  height: 40px;
  cursor: pointer;

  img {
    height: 100%;
    width: auto;
  }
}

.artist_icon:hover, .small_artist_icon:hover {
  border: 1px solid $light_pink;
  position: relative;
  animation: bop infinite 0.5s;
  cursor: pointer;
}


.artist_name {
  width: 100%;
  margin: 0 0 0 2px;
  padding: 0 3px;
  font-size: 18px;
  // border: 1px solid $light_pink;

  span {
    color: $gray;
    margin: 0 4px 0 0;
  }

  span.name {
    color: black;
    margin: 0;
  }

  span.name:hover {
    color: $light_pink;
  }
}

.stats {
  // border: blue solid 1px;
  display: flex;
  align-items: center;
  padding: 0 8px 0 2px;
}



.menu_button {
  // border: red solid 1px;
  width: 30px;
  margin: 0 5px; 
  display: flex;

  img {
    position: relative;
    width: 30px;
    height: auto;
    cursor: pointer;
  }

  img:hover {
    filter: hue-rotate(180deg);
    animation: bop infinite 0.5s;
  }
}

.menu_button.inflate {
  img:hover {
    animation: none;
  }
}

.menu_button.clicked {
  img {
    filter: hue-rotate(160deg) brightness(90%) contrast(120%);
  }
}

.menu_button.inactive {
  img {
    filter: grayscale(100%);
  }
  img:hover {
    cursor: default;
    animation: none;
  }
}

.user_comments.slide_out {
  animation: slide_out 0.8s forwards;
}

.slide_in {
  position: relative;
  animation: slide_in forwards 0.6s, fade_in forwards 0.4s;
}



.user_comments {
  position: relative;
  border: 2px solid $light_blue;
  width: 320px;
  margin: 5px 0;
  padding: 5px;
  animation: slide_in 0.8s forwards;
  transition: 1s;
  
  div:nth-child(1) {
    display: flex;
    align-items: center;
    padding: 0 5px 0 0;

    span.artist_name_link {
      text-align: left;
      font-size: 16px;
      color: black;
    }
    span.artist_name_link:hover {
      color: $light_pink;
      cursor: pointer;
    }
    span {
      font-size: 14px;
      color: $gray;
      width: 100%;
      text-align: right;
    }
  }

  div:nth-child(2) {
    padding: 5px;
  }
  
  div:nth-child(3) {
    text-align: right;
    padding: 5px;
  }

  
  img {
    height: 40px;
    width: 40px;
    margin: 0 5px 0 0;
    border: 1px solid $light_blue;
  }
}

.user_comments.first {
  margin: 20px 0 5px 0;
}


.comment_menu_wrapper {
  position: fixed;
  top: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
  background-color: transparent;
  transition: 1s;
  display:none;
}

.comment_menu_wrapper.display {
  z-index: 10;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: $clear_blue;
}

.map {
  border: 0px hotpink solid;
  height: 300px;
  width: 600px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.map_tile {
  border: 1px hotpink solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 10px;
}

.map_cover {
  border: 0px hotpink solid;
  background-color: rgba(255, 192, 203, 0.295);
  margin-top: -300px;
  height: 300px;
  width: 600px;
  z-index: 1;
}



.sprite {
  position: relative;
  // border: 1px rgb(3, 20, 255) solid;
  width: 30px;
  height: 30px;
  transition: 0.3s;
  overflow: hidden;

  img {
    position: absolute;
    height: 30px;
  }
}


//show page
.dot_wrapper {
  height: 320px;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
}

.dot {
  position: relative;
  // border: 1px solid red;
  height: 20px;
  width: 20px;
  overflow: hidden; 
  transition: 0.8s;
  opacity: 0;
  // top: -200vh;
}

.dot_wrapper.assemble {
  .dot {
    top: 0 !important;
    left: 0 !important;
    opacity: 1;
  }
}

.used_colors {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 40px;
  width: calc(8 * 40px);
  // border: solid $light_blue;
  // border-width: 0 1px 0 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  animation: palette_load ease 0.8s forwards;

  div {
    height: 40px;
    width: 40px;
    // border: solid $light_blue;
    // border-width: 1px 0 1px 1px;
  }
}


.grid_wrapper {
  height: 321px;
  width: 321px;
  display: flex;
  flex-wrap: wrap;
  // flex: 1;
  border: solid $light_blue 1px;
  border-width: 1px 1px 0 0;
  border-color: $light_blue $light_blue transparent transparent; 
  // border-color: white white transparent transparent; 
  // border-color: transparent;
  overflow:visible;

  .grid{
    width: 20px;
    height: 20px;
    border: 1px solid $light_blue;
    border-width: 0 0 1px 1px;
    border-color: transparent transparent white white;
    
    // border: 1px solid $light_blue;
    border-color: transparent transparent $light_blue $light_blue;
    // opacity: 0.2;
    
  }

  .grid.explode {
    position: relative;
    animation: slide_submission forwards ease 1s;
    border: transparent;
  }
}

@keyframes slide_submission{
  0% {margin-left:0px; width: 20px; opacity: 0}
  40% {margin-left:0px; width: 20px; opacity: 1}
  70% {width: 40px; margin-left:0; }
  100% {width: 2000px; margin-left: 100vh; opacity: 1}
}



.inner_wrapper {
  // border: red 1px solid;
  display: flex;
  width: calc(321px + 55px);
  margin: 0 0 0 55px;
}

.color_palette {
  height: 100%;
  width: 40px;
  // border: solid $light_blue 1px;
  // border-width: 0 0 1px 0;
  background: url($blue_checkered_bg) repeat 0 0;
  margin: 0 0 0 15px;
  display: flex;
  flex-direction: column;

  // div {
  //   transition: 0.5s;
  // }

  div:hover {
    position: relative;
    // animation: slide_right forwards 0.5s;
    animation: side_to_side infinite 0.5s;
  }
}

.palette_block {
  height: 40px;
  width: 40px;
  // border: solid $light_blue;
  // border-width: 1px 1px 0 1px;
}

.grid.clicked {
  animation: click forwards 0.5s;
  border-color: transparent;
}


canvas {
  border: #1dfae8 1px solid;
  height: 320px;
  width: 320px;
  background-color: transparent;
  opacity: 0;
}


canvas.dots {
  border: transparent 1px solid;
  //*was set to 321px
  height: 320px;
  width: 320px;
  // background-color: white;
  margin: -321px 0 0 -1px;
  z-index: -1;
}

.color_background {
  background: url($light_blue_checkered_bg) repeat 0 0;
  margin: -321px 0 0 0px;
  height: 320px;
  width: 320px;
  z-index: -20;
  border: 1px solid #d0f3fd;
}





.wrapper {
  .color_block_container {
    height: 20px;
    width: 20px;
  }
  
  .color_block {
    height: 100%;
    width: 100%;
    animation: none;
    opacity: 0;
    transition: 0.5s;
  }
}

.wrapper.animate {
  .color_block {
    position: relative;
    animation: slide forwards ease 1s;
    // animation: blowup forwards ease 1s;
    // transform-origin: center;
    // opacity: 1;
  }
}

@keyframes slide{
  0% {width: 100px; margin-left:-100vh; opacity: 0}
  40% {margin-left:-20px; width: 100%; opacity: 1}
  70% {width: 100%; margin-left:0}
  100% {width: 2000px; margin-left: 100vh;}
}

@keyframes blowup{
  0% {width: 20px; height: 20px; margin-bottom:-100vh; opacity: 0}
  40% {width: 20px; height: 20px; margin-bottom: 0; opacity: 1}
  70% {width: 20px; height: 20px; margin-bottom: 0;}
  100% {width: 300px; height: 300px; margin-bottom: 150vh; opacity: 1}
}



